.websiteCards {
    flex-direction: column;
    width: calc((100% / 5) - 2.5rem);
    gap: 1rem;
    padding: 0.8rem;
    box-shadow: 0 0 0.5rem 0.313rem var(--card-background-box-shadow);
    border-radius: 0.188rem;
    background-color: var(--blue);
}

.cardImage {
    width: 100%;
    box-shadow: 0 0 0.5rem 0.1rem var(--card-background-box-shadow);
    border-radius: 0.188rem;
}

.buttonGoToWebsite {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.188rem;
    background-color: var(--white);
    color: var(--blue);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;
}

.buttonGoToWebsite:hover {
    background-color: var(--gray);
    border: 0.063rem solid var(--white);
    font-weight: bold;
}

/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 901px e 1279px */
@media screen and (min-width: 901px) and (max-width: 1279px){
    .pageWidth {
        width: 100%;
        padding: 1rem;
    }

    .websiteCards {
        width: calc((100% / 4) - 1.875rem);
    }

    .buttonGoToWebsite {
        font-size: 1.25rem;
    }
}
  
  
  /* Para telas com largura entre 769px e 900px*/
  @media screen and (min-width: 769px) and (max-width: 900px){
    .pageWidth {
      width: 100%;
      padding: 1rem;
    }

    .websiteCards {
        width: calc((100% / 3) - 1.875rem);
    }

    .buttonGoToWebsite {
        font-size: 1.25rem;
    }
  }
  
  /* Para telas com largura entre 481px e 768px */
  @media screen and (min-width: 481px) and (max-width: 768px){
    .pageWidth {
      width: 100%;
      padding: 0.5rem;
    }

    .websiteCards {
        width: calc((100% / 2) - 1.875rem);
    }

    .buttonGoToWebsite {
        font-size: 1.25rem;
    }
  }
  
  /* Para telas com largura até e 480px */
  @media screen and (max-width: 480px){
    .pageWidth {
      width: 100%;
      padding: 1rem;
    }

    .websiteCards {
        flex-direction: row;
        width: calc((100% / 1) - 1.875rem);
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .cardImage {
        width: 25%;
        height: 3.5rem;
    }

    .buttonGoToWebsite {
        font-size: 1.25rem;
    }
  }