

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.sectionHeader {
    background-color: var(--blue);
    width: 100%;
    height: 14.063rem;
    padding: 1rem;
    flex-direction: column;
    position: relative;
}

.containerHeader {
    height: 100%;
    padding-top: 4.688rem;
}

.containerTitleText {
    flex: 1 1 50%;
    height: 100%;
    justify-content: flex-start;
}

.title {
    font-size: 4.25rem;
    color: var(--white);
}

.containerHeaderImages {
    flex: 1 1 50%;
    height: 100%;
    gap: 0.625rem;
    justify-content: flex-end;
}
  

.headerImages {
    height: 90%;
}