.sectionNavigatorBar {
    background-color: var(--white);
    width: 100%;
    height: 4.688rem;
    padding: 1rem;
    /* position: fixed; */
    /* top: 0; */
}

.containerNavigatorBar {
    height: 100%;
    border-bottom: 0.125rem solid var(--blue);
}

.dateAndTimeBox {
    /* background-color: plum; */
    height: 100%;
    flex: 1 1 50%;
    justify-content: flex-start;
}

.paragraphDateAndTime {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
}

.navigationBox {
    /* background-color: peru; */
    height: 100%;
    flex: 1 1 50%;
    justify-content: flex-end;
    gap: 1.25rem;
}

.navigationButtons {
    text-decoration: none;
	color: var(--blue);
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s all ease;
}

.navigationButtons:hover {
	padding: 0rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.375rem;
}