@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --white-color: #dbdbdb;
    --red: #FF1301;
    --blue: rgb(0, 95, 152);
    --yellow: #FFCB02;
    --green: #049934;
    --black: #000000;
    --white: #ffffff;
    --gray: #bdbdbd;
    --card-color: #005F98;
    --card-background-color: rgb(245, 245, 245);
    --card-background-box-shadow: rgba(0, 0, 0, 0.5);
}

@media(max-width:1080px){
  html{
    font-size: 90%;
  }
}

@media(max-width:720px){
  html{
    font-size: 80%;
  }
}

@media(max-width:500px){
  html{
    font-size: 60%;
  }
}

@media(max-width:300px){
  html{
    font-size: 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height:100vh;
  width: 100%;
  background-color: var(--white);
}

.pageWidth {
  width: 1280px;
  /* border: 1px solid red; */
}

.displayFlexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COMPONENTS - COMPONENTS - COMPONENTS - COMPONENTS */



/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN */
.main {
  display: flex;
  flex-direction: column;
}

.boxGeneral, .boxOthers, .boxQueries {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.boxQueries {
  flex: 2;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
}

.boxTitle {
  flex: 1 1 9.375rem;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLinks, .links {
  flex: 1 1 37.5rem;
  min-height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 1.25rem;
}

/* TITLES - TITLES- TITLES- TITLES - TITLES*/

.subTitles {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--white-color);
  text-shadow: 1px 2px 10px var(--black);
  padding-top: 1rem;
}

/* LINKS - LINKS - LINKS - LINKS - LINKS - LINKS - LINKS*/
.links {
  list-style: none;
}

/* LINKS-BOTTONS - LINKS-BOTTONS - LINKS-BOTTONS - LINKS-BOTTONS - LINKS-BOTTONS */

.button {
	display: flex;
	width: 9.5rem;
  height: 3rem;
	justify-content: center;
  align-items: center;
  text-align: center;
	text-decoration: none;
	padding: 0.5rem;
	background-color: var(--card-background-color);
	color: var(--blue);
	border: 1px solid var(--white-color);
	border-radius: 5px;
	box-shadow: black 0.2rem 0.2rem 0.5rem;
  margin: 0.5rem;
}

.button:hover {
	background-color: var(--gray);
	box-shadow: none;
	border: 1px solid var(--blue);
  cursor: pointer;
}

/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.boxFooter {
    display: flex;
    order: 3;
    flex: 0.5 1;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color:var(--card-color);
    border-top: 1px solid var(--blue);
    color: var(--white-color);
}

.boxTitleFooter {
  flex: 1 1 21.875rem;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.boxTitleFooter span {
  font-weight: bold;
}

.linksSocialMedia {
  list-style: none;
  flex: 1 1 21.875rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:1rem;
  flex-flow: wrap;
}

.buttonsSocialMedia {
  margin: 0.5rem;
  cursor: pointer;
  display: flex;
  width: 5rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  margin-left:1rem;
  background-color: var(--card-background-color);
  color: var(--blue);
  border-radius: 5px;
  box-shadow: var(--black) 0.2rem 0.2rem 0.5rem;
}

.buttonsSocialMedia:hover {
  	background-color: var(--blue);
    color: var(--white-color);
}

/* PAGE DTI PAGE DTI PAGE DTI PAGE DTI PAGE DTI PAGE DTI */
.boxDti {
  width: 100%;
  min-height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1;
  order: 2;
}

.buttonGoback{
  margin-right: 2rem;
}