:root {
  --primary-color: #4585FD;
  --secondary-color: #8DB2F7;
  --tertiary-color: #4281F5;
  --quaternary-color: #435575;
  --quinary-color: #3466C2;
  --text-color:rgb(219, 219, 219);
  --black-color: black;
} 

@media(max-width:1080px){
  html{
    font-size: 93.75%;
  }
}

@media(max-width:720px){
  html{
    font-size: 87.5%;
  }
}

@media(max-width:500px){
  html{
    font-size: 82.5%;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

/* COMPONENTS - COMPONENTS - COMPONENTS - COMPONENTS */

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.header {
  height: 20vh;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  font-size: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: center;
  align-items: center;
}

/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN */
.main {
  height: 100vh;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
}

li {
  list-style: none;
}

.general,
.queries,
.others { 
  height:33.3%;
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
}

.link-buttons a {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--quaternary-color);
  padding: 1rem 2.5rem;
  border-radius: 15px;
  font-weight: bold;
  margin-left: 1.5rem;
}

.link-buttons a:hover {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 15px 40px;
  border-radius: 15px;
  font-size: 20px;
}

.general h1,
.queries h1,
.others h1 {
    width: 20%;
    font-size: 3rem;
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    justify-content:center;
    align-items: center;
}

.general h1{
  flex: 0.57 1 auto;
}

.buttons-general,
.buttons-queries,
.buttons-others {
  display: flex;
  flex-flow: row wrap;
  flex: 3 1 auto;
  justify-content: flex-start;
  align-items: center;
}

.buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

/* FOOTER - FOOTER - FOOTER - FOOTER */

.footer {
  height: 15vh;
  background-color: var(--quinary-color);
  color: var(--text-color);
  display:flex;
}

.footer h4{
  height:100%; 
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
}

.buttons-social-media {
  display:flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.links-social-media{
  font-size: 2rem;
  padding: 0 1rem;
  color: var(--text-color);
}

.links-social-media:hover{
  font-size: 3.5rem;
  color: var(--quaternary-color);
}
